<h1>Character #<%= @character.id %></h1>

<dl>
  <dt>Movie</dt>
  <dd><%#= Movie.find_by({:id => @character.movie_id}).title %>
    <%= @character.movie.title %>
  </dd>

  <dt>Actor</dt>
  <dd><%#= Actor.find_by({:id => @character.actor_id}).name %>
  <%= @character.actors.name %></dd>

  <dt>Name</dt>
  <dd><%= @character.name %></dd>

</dl>
